{% extends "base/base.html" %}
{% load static %}
{% block title %}
{% if request.resolver_match.url_name == 'login' %}
{{request.resolver_match.url_name|title}}
{% elif request.resolver_match.url_name == 'register' %}
{{request.resolver_match.url_name|title}}
{% elif request.resolver_match.url_name == 'create-account' %}
Create Account
{% elif request.resolver_match.url_name == 'change-password' %}
Change Password
{% elif request.resolver_match.url_name == 'emailverification' %}
Email Verification
{% endif %}
{% endblock %}
{% block content %}
    <!-- authentication start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase text-center mx-xl-5 mb-4"><span class="bg-secondary pr-3">
            {% if request.resolver_match.url_name == 'login' %}
            {{request.resolver_match.url_name|title}}
            {% elif request.resolver_match.url_name == 'register' %}
            {{request.resolver_match.url_name|title}}
            {% elif request.resolver_match.url_name == 'create-account' %}
            Create Account
            {% elif request.resolver_match.url_name == 'change-password' %}
            Change Password
            {% elif request.resolver_match.url_name == 'emailverification' %}
            Email Verification
            {% endif %}
        </span></h2>
        <div class=" px-xl-5">
            <div class=" mb-5 contact-us" style="">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    <form method='post'>
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="control-group">
                            {{field}}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    {{error}}
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% endfor %}
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">
                                {% if request.resolver_match.url_name == 'login' %}
                                {{request.resolver_match.url_name|lower}}
                                {% elif request.resolver_match.url_name == 'register' %}
                                {{request.resolver_match.url_name|title}}
                                {% elif request.resolver_match.url_name == 'create-account' %}
                                Create Account
                                {% elif request.resolver_match.url_name == 'change-password' %}
                                change
                                {% elif request.resolver_match.url_name == 'emailverification' %}
                                verify
                                {% endif %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- authentication End -->
{% endblock %}