{% extends "base/base.html" %}
{% load static %}
{% block title %}
{% include 'includes/title_references.html' %}
{% endblock %}
{% block content %}
    <!-- authentication start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase text-center mx-xl-5 mb-4"><span class="bg-secondary pr-3">
            {% include 'includes/title_references.html' %}
        </span></h2>
        <div class=" px-xl-5">
            <div class=" mb-5 contact-us" style="">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    <form method='post'>
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="control-group">
                            {{field}}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    {{error}}
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% endfor %}
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">
                                {% include 'includes/button_name.html' %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- authentication End -->
{% endblock %}